:root {
  --img-size: 100%;
  --badge-bg-color: red;
}

.slide {
  width: 100%;
  opacity: 0;
  position: relative;
  visibility: hidden;
  transition: opacity 200ms;
}

.slide.active {
  visibility: visible;
  opacity: 1;
}

.slide__img {
  width: 100%;
  display: block;
}

.slide__badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: var(--badge-bg-color);
}